@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-black text-white;
}

.Yes{
    filter: grayscale(1);
}

.movie-list{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    gap:1rem;
}

.movieShow {
    position: relative;
}

.moviePoster {
    position:absolute;
}

.overviewInfo {
    position:absolute;
    z-index:-99;
}

.moviePoster::after{
    content:overviewInfo;
    position: absolute;
    width: 230px;
    height: 350px;
    background-color: black;
    transform: translateX(100%)
}

.moviePoster:active{
    transform: translateX(-100%);
    transition: all ease 0.5s;
}
