@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-black text-white;
}

.Yes{
    filter: grayscale(1);
}

.movieShow {
    position: relative;
}

.moviePoster {
    position:absolute;
}

.overviewInfo {
    position:absolute;
    z-index:-99;
}

.moviePoster::after{
    content:overviewInfo;
    position: absolute;
    width: 230px;
    height: 350px;
    background-color: black;
    transform: translateX(100%)
}

.moviePoster:active{
    transform: translateX(-100%);
    transition: all ease 0.5s;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}